{% extends 'base.html'%}

{% block content %}


 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        ${'a#forvard').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard',
                function(data) {
                // do nothing
            });
            return false
        });
    });
</script>

{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


{% endfor %}

{% if current_user.is_authenticated %}

<h1>Add Blog Post:</h1>
    <br/>

<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.title.label(
        class="form-label") }}
        {{ form.title(class="form-control") }}
        <br/>

        {{ form.slug.label(
        class="form-label") }}
        {{ form.slug(class="form-control") }}

        <br/>

        {{ form.content.label(
        class="form-label") }}
        {{ form.content(class="form-control", rows="10") }}
        <br/>

            <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <br/>
              <form action="/add_post" method="post">
     <input type="submit" name="add" value="add">
  </form>
                              <form action="/add_post" method="post">
     <input type='submit' name="submit" value='Всё' />
  </form>
        </p>
    </form>





{% else %}
    <h2>Must Be Logged In...</h2>
    <p>Sorry, You must be logged in to access this page!</p>

    <a href="{{ url_for('login') }}">Login Here</a>


{% endif %}

{% endblock %}