

<div class="row d-flex justify-content-center">
  <div>
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
        {% for comment in post.comments %}
        <div class="card mb-4">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="{% if post.poster.avatar%}/{{post.poster.avatar}}{% else %}https://ob-kassa.ru/content/front/buhoskol_tmp1/images/reviews-icon.jpg{% endif %}" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2"><strong>{%if comment.user.nickname%}{{comment.user.nickname}}{% if
                  current_user.id == comment.user.id%}(you){% endif %}{% else %}deleted_user {% endif%}</strong></p>

                <map name="workmap{{comment.user.id}}">
                  <area shape="circle" coords="15,15,15"
                        href="/dashboard/{% if comment.user.id %}{{comment.user.id}}{% else %}0{% endif %}/0">
                </map>
            <br/>
              </div>
            </div>
            <p>{{comment.content}}</p>
          </div>
        </div>
        {% endfor %}
        <form action="" method="post">
          {{form.csrf_token}}
          <p>{{ form.search(class="form-control")}}</p>
          <p>{{ form.submit(type="submit", class="btn btn-primary", value="Comment") }}
        </form>

      </div>
    </div>
  </div>
</div>
