<div id="load">
            <table class="table">
                <thead>
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Health</th>
                    <th scope="col">K/D</th>
                    <th scope="col">Kills</th>
                    <th scope="col">Deaths</th>
                    <th scope="col">Hits</th>
                    <th scope="col">Ricochets</th>
                    <th scope="col">Damage</th>
                    <th scope="col">Сaused fires</th>
                </tr>
                </thead>
                <tbody>
                    {% for data in info%}
                    {% set mail = data[0] %}
                    {% set nickname = data[1] %}
                    {% set stat = data[2] %}
                    {% set hp = data[3] %}
                    {% set id0 = data[4] %}
                    <tr class="table-primary">
                        <td scope="row">{{loop.index}}</td>
                        <td><a href="/player/{{id0}}">{{nickname}}</a></td>
                        <td>
                            <div class="progress">
                                 <div class="progress-bar bg-success" role="progressbar" style="width: {% if hp < 0%}0{%else%}{{hp}}{%endif%}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>{{stat['KD']}}</td>
                        <td>{{stat['kills']}}</td>
                        <td>{{stat['deaths']}}</td>
                        <td>{{stat['hits']}}</td>
                        <td>{{stat['rik']}}</td>
                        <td>{{stat['damage']}}</td>
                        <td>{{stat['fires']}}</td>
                    </tr>
                    {% endfor %}
                    {% if not info%}
                    <tr class="table-primary">
                        <th colspan="10" align="center">No one has logged into the game yet</th>
                    </tr>
                    {% endif%}

                </tbody>
            </table>
</div>