{% extends "base.html" %}

{% block content %}
{{ turbo() }}

<div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-outline-primary" href="/">Players in game</a>
            <a type="button" class="btn btn-outline-primary" href="/info">Information</a>
</div>
<h1 align="left">Players in game</h1>
{%if current_user.is_authenticated%}
<div class="col-md6 border rounded" align="center" id="load">
    <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Health</th>
                    <th scope="col">K/D</th>
                    <th scope="col">Kills</th>
                    <th scope="col">Deaths</th>
                    <th scope="col">Hits</th>
                    <th scope="col">Ricochets</th>
                    <th scope="col">Damage</th>
                    <th scope="col">Сaused fires</th>
                </tr>
            </thead>
        </table>
        <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden"></span>
        </div>
</div>
{%else%}
<table class="table">
                <thead>
                <tr class="table-secondary">
                    <th scope="col" align="center">Match statistics are only available to authorized users</th>
                </tr>
                </thead>
          </table>
{%endif%}
{% endblock %}