{% extends 'base.html'%}

{% block content %}

{% if message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}


<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{post.title }}</h2>
    <small>By: {%if post.poster.nickname%}
                                  {{post.poster.nickname}}
                              {% else %}
                                  deleted_user
                              {% endif %}<br/>
        {{post.date_posted.date() }} | {{post.slug }}</small><br/>
    {{post.content }}<br>
    {% if current_user.id == post.poster_id %}
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>

    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">DELETE</a>

    <a href="{{ url_for('posts', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Back to Blog</a>
    {% endif %}
</div>
<h2>Galary</h2>
{% if post.files %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
<!--        <div class="carousel-item active">-->
<!--            <h1>afawfawfawf</h1>-->
<!--        </div>-->
        {% for file in post.files.split("|")%}
        <div class="carousel-item active">
            {% if file.endswith("mp4") or file.endswith("avi") or file.endswith("mov") %}
                <video>
                    <source src="{{ file }}">
                </video>
            {% else %}
                <img class="d-block w-100" src="/{{ file }}" alt="Galary">
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endif %}
<br><br>
<h2>On map</h2>
{% include "map_java.html"%}
{% endblock %}