{% extends 'base.html'%}

{% block content %}
{% if message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endif %}


<form action="" method="post">
    {{form.csrf_token}}
    <p>{{ form.search(class="form-control")}}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}
    <a type="button" class="btn btn-primary" href="/posts">Очистить поиск</a>
    <a type="button" class="btn btn-outline-primary" href="/map_new">На карте</a></p>

</form>
<div id="search">
    {% if posts%}
    {% for post in posts %}

    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2><a href="{{ url_for('post', id=post.id) }}">{{post.title}}</a></h2><br/>
        <small>By: {%if post.poster.nickname%}
            {{post.poster.nickname}}
            {% else %}
            deleted_user
            {% endif %}<br/>
            {{post.date_posted.date() }} | {{post.slug }}</small><br/>
        {{post.content }}
        <br/>
        <br/>
        {% if current_user.id == post.poster_id %}
            <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
            <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">DELETE</a>
        {% endif %}
    </div>


    {% endfor %}
    {% else %}
    <div class="alert alert-primary" role="alert">
        Посты отсутствуют
    </div>
    {% endif %}
</div>
{% endblock%}