{% extends 'base.html'%}

{% block content %}
{% if message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

<div class="card">
    <div class="card-header">
        update Profile
    </div>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            {{ form.name.label(
            class="form-label") }}

            {{ form.name(class="form-control", value=name_to_update.name) }}
            <br/>

            {{ form.surname.label(
            class="form-label") }}

            {{ form.surname(class="form-control", value=name_to_update.surname) }}
            <br/>

            {{ form.email.label(
            class="form-label") }}
            {{ form.email(class="form-control", value=name_to_update.email) }}
            <br/>


            {{ form.file.label(class="form-label") }}
            {{ form.file(type="file", class="form-control") }}
            <br/>

            {{ form.submit(type="submit",class="btn btn-secondary") }}
        </form>
    </div>
</div>

{% endblock%}