{% extends 'base.html'%}

{% block content %}

{% if message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endif %}

<form action="" method="post">
    {{form.csrf_token}}
    <p>{{ form.search(class="form-control")}}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}
    <a type="button" class="btn btn-primary" href="/users">Clear</a>

</form>

<div>
    {% if users%}
    {% for user in users %}
        <div class="card">
                <div class="card-header">
                        <strong><img usemap="#workmap{{user.id}}" class="rounded-circle" width="30px" height="30px"
                                     src="{% if user.avatar%}/{{user.avatar}}{% else %}https://ob-kassa.ru/content/front/buhoskol_tmp1/images/reviews-icon.jpg{% endif %}">
                                {%if user.nickname%}{{user.nickname}}{% else %}deleted_user {% endif%}</strong>
                    <map name="workmap{{user.id}}">
                        <area shape="circle" coords="15,15,15"
                              href="/dashboard/{% if user.id %}{{user.id}}{% else %}0{% endif %}/0">
                    </map>
                    {% if current_user.id != user.id and current_user.is_authenticated %}
                    {% if subscribity[user.id] == True %}
                    <a href="/subscribe/{{user.id}}" class="btn btn-primary btn-sm">Subscribe</a>
                    {% else %}
                    <a href="/unsubscribe/{{user.id}}" class="btn btn-primary btn-sm">Unsubscribe</a>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                        <p class="card-text">
                                <strong>Name: </strong>{{user.name}}<br/>
                                <strong>Surname: </strong>{{user.surname}}<br/>
                                <strong>Age: </strong>{{user.age}}<br/>
                                <a href="/player/{{current_user.id}}"><strong>Game profile</strong></a><br/>
                        </p>
                </div>
        </div>
    <br>
    {% endfor %}
    {% else %}
    <div class="alert alert-primary" role="alert">
        There are no users
    </div>
    {% endif %}
</div>

{% endblock %}